<script id="popupTemplate" type="text/x-handlebars-template">
    <h3>\{{name}}</h3>
    <p>Start Time: \{{startdate}} \{{starttime}}<br/>
       End Time: \{{enddate}}  \{{endtime}}<br/>
       Address: \{{street}}<br/>\{{city}}<br/>
       About\{{description}}</p>
</script>