<script id="eventForm" type="text/x-handlebars-template">

        <form id="eventAddForm">
	  <input type="text" name="title" value="\{{title}}"></br>
	  <input type="text" name="street" value="\{{street}}"></br>
	  <input type="text" name="city" value="\{{city}}"></br>
	  <input type="datetime" class="startdate" name="startdate" value="\{{startdate}}">&nbsp( ex: mm/dd/yyyy )</br>
	  <input type="datetime" name="starttime" value="\{{starttime}}">&nbsp( ex: 12:30pm )</br>
	  <input type="datetime" class="enddate" name="enddate" value="\{{enddate}}">&nbsp( ex: mm/dd/yyyy )</br>
	  <input type="datetime" name="endtime" value="\{{endtime}}">&nbsp( ex: 12:30pm )</br>
	  <input type="text" name="description" value="\{{description}}"></br>
	</form>
	<data id="eventId" value="\{{eventid}}"/>
</script>