<script id="tableTemplate" type="text/x-handlebars-template">
    <table class="adminTable">
      <thead> 
	<th>Name</th> 
	<th>Start Date</th>
	<th>End Date</th>
	<th>Steet Address</td>
	<th>Lat/Long</th>
	<th>Description</th>
	<th></th>
      </thead> 
      <tbody> 
	\{{#each this}}
	<tr> 
	  <td contenteditable="true">\{{this.name}}</td> 
	  <td contenteditable="false">\{{startdate}} \{{starttime}}</td>
	  <td contenteditable="false">\{{enddate}}  \{{endtime}}</td>
	  <td contenteditable="false">\{{street}},\{{city}}</td>
	  <td contenteditable="true">\{{lat}},\{{lon}}</td>
	  <td contenteditable="true">\{{description}}</td> 
	  <td> <span class="table-remove glyphicon glyphicon-remove" value="\{{eventid}}"></span> </td>
	</tr> 
	\{{/each}}
      </tbody> 
    </table>
</script>
